nav {
    position: relative;
}

.notice {
    display: block;
}

.notice .main-title {
    text-align: center;
    margin-top: 1rem;
    

    background: url('../img/blog/banner.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-blog-02 {
    background: url('../img/blog/banner-2.png') !important;
}

.banner-blog-03 {
    background: url('../img/blog/banner-3.png') !important;
}

.notice .main-title h2{
    position: relative;
    z-index: 1;
    color: var(--white-color);
    padding: 12rem 0;
    background-color: rgba(36, 36, 36, 0.55);
}

.notice .auto-container {
    margin-top: 3rem;
}

.notice .normal-text p i {
    transform: rotate(90deg);
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 5px;
    color: var(--primary-color);
}

.notice .normal-text p span {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 487px) {
    .notice .auto-container {
        padding: 0 3rem;
    }
}

@media only screen and (min-width: 488px) and (max-width: 1200px) {
    .notice .auto-container {
        padding: 0 5rem;
    }
}