* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --color-vermelho: #CC2B37;
  --color-verde-claro: #529145;
  --color-verde-escuro: #36672c;
  --color-dourado: #cab991;

  --white-color: #FFFFFF;
  --grey-color: #242424;

  --primary-font: 'venice-blvd', sans-serif;
  --secondary-font: 'Sora', sans-serif;
}

html,
body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

p,
a,
span {
  font-family: var(--secondary-font);
  color: var(--third-color);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
}

ul li {
  list-style: none;
}

/* HEADER */
header {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem 5rem;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.85);
}

.nav-logo {
  margin-left: 5rem;
}

.nav-logo img {
  object-fit: contain;
  width: 18rem;
  height: 7rem;
  padding: 1rem;
}

.nav-list {
  margin: 15px auto 0;
}

nav ul {
  display: flex;
  gap: 5rem;
}

nav ul li a {
  font-weight: 600;
  color: var(--white-color);
}

.nav-list ul li:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.nav-list ul li a:hover { 
  color: var(--color-vermelho);
  transition: 0.2s ease;
}

.nav-social {
  margin-top: 5px;
  margin-right: 100px;
}

.nav-social span {
  display: flex;
  gap: 1.4rem;
}

.fab {
  color: var(--white-color);
  font-size: 24px;
}

.fab:hover {
  color: var(--white-color);
  transition: 0.3s ease-out;
  transform: rotate(-15deg) scale(1.2);
  font-size: 2.4rem;
}

.mobile-menu, .mobile-icon-menu {
  display: none;
}

/* SECTION 01 */
.section-01 {
  background: url('../img/hero2.png');
  background-position: -15rem 0rem;
  background-repeat: no-repeat;
  padding: 15rem 0 7rem 0;
}

.section-01 .left-text {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.section-01 .left-text .faturamento h2 {
  background: var(--color-vermelho);
  color: var(--white-color);
  font-size: 3.3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.section-01 .left-text .franqueado h1 {
  color: var(--white-color);
  font-size: 4.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.module-contact {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.module-contact .btn {
  width: 20rem;
  padding: 0 1.5rem;
}

.btn--secondary {
  background-color: var(--color-verde-claro);
  color: var(--white-color);
}

.btn {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  width: 170px;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  color: var(--white-color);
  padding: 0 30px;
}

.btn:hover {
  color: var(--white-color);
}

.btn:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.btn--secondary::before {
  background-color: var(--color-verde-escuro);
}

.btn::before {
  content: '';
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transition: -webkit-transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  transition: -webkit-transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  -o-transition: transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  transition: transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  transition: transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9), -webkit-transform 0.24s cubic-bezier(0.37, 0.31, 0.31, 0.9);
  border-radius: inherit;
  
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--white-color);
}

.mobile-menu, .mobile-icon-menu {
  display: none;
}

.section-01 .right-form form {
  color: var(--white-color);
  background: url('../img/fundo-verde.webp');
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 2rem;
}

.section-01 .right-form form label {
  margin-top: 1.2rem;
}

.section-01 .right-form form .form-control, 
.section-01 .right-form form .form-select {
  height: 4rem;
  font-size: 1.5rem;
}

.section-01 .right-form form .endereco {
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.section-01 .right-form form .cidade {
  width: 100%;
}

.section-01 .right-form form .estado {
  width: 15%;
}

.section-01 .right-form form .module-contact {
  justify-content: center;
  margin-top: 1rem;
}

.section-01 .right-form form .module-contact .btn {
  margin-top: 1.5rem;
  background: var(--color-verde-escuro);
  width: 40rem;
}

.section-01 form .btn--secondary::before {
  background-color: var(--color-vermelho);
}

/* SECTION 02 */

.section-02 {
  background: url('../img/textura-preta.png') var(--color-dourado);
  background-position: center;
  background-repeat: no-repeat;
  padding: 15rem 0;
}

.section-02 .mobile {
  display: none;
}


.section-02 .info-01 .title-h3 h3 {
  font-size: 4.2rem;
  color: var(--white-color);
  text-transform: uppercase;
}

.section-02 .info-02, 
.section-02 .info-03 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-02 .info-02 .info-investimento,
.section-02 .info-02 .info-lucratividade,
.section-02 .info-03 .info-faturamento,
.section-02 .info-03 .info-retorno,
.section-02 .info-04 .info-logo {
  background: var(--white-color);
  color: var(--color-verde-escuro);
  text-transform: uppercase;
  border-radius: 1rem;
  align-items: center;
}

.section-02 .info-02 .info-investimento .icon-div,
.section-02 .info-02 .info-investimento .text-div,
.section-02 .info-02 .info-lucratividade .icon-div,
.section-02 .info-02 .info-lucratividade .text-div {
  padding: 1rem;
}

.section-02 .info-03 .info-faturamento .icon-div,
.section-02 .info-03 .info-faturamento .text-div,
.section-02 .info-03 .info-retorno .icon-div,
.section-02 .info-03 .info-retorno .text-div {
  padding: 1rem;
}

.section-02 .info-04 .info-logo {
  flex-direction: column;
  padding: 2rem 2rem 0;
  gap: 1.3rem;
}

.section-02 .info-04 .info-logo {
  font-size: 2rem;
}

.section-02 .info-04 .icon-div img {
  width: 25rem;
  height: 7.5rem;
}


/* SECTION 03 */
.section-03 { 
  background: url('../img/background-pizza.jpg') var(--color-dourado);
  background-position: center;
  background-repeat: no-repeat;
  padding: 8rem 0;
  }

.section-03 .title {
  text-align: center;
}

.section-03 .title h2 {
  font-size: 5rem;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.section-03 .video {
  text-align: center;
}

.section-03 .video .iframe-video {
  width: 76rem;
  height: 41rem;
}

.section-03 .selo-circular {
  position: absolute;
  margin-top: -5rem;
  right: 20rem;
  margin-top: -13rem;
}

.section-03 .selo-circular img {
  width: 75%;
}

/* SECTION 04 */
.section-04 {
  padding: 10rem 5rem;
  background: url('../img/textura-preta.png');
}

.section-04 .pizzas {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-04 .pizzas .item {
  border: 1rem solid var(--color-verde-claro);
  border-radius: 1rem;
}

.section-04 .item img {
  width: 100% !important;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition-property: filter;
  display: block;
}

.section-04 .pizzas-title {
  margin-top: 5rem;
}

.section-04 .pizzas-title h2 {
  color: var(--color-verde-escuro);
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
}

.section-04 .module-contact {
  justify-content: center;
  margin-top: 1rem;
}

.section-04 .module-contact .btn--secondary {
  width: 25rem;
}

/* SECTION-05 */
.section-05 {
  background: url('../img/textura-preta.png') var(--color-vermelho);
  padding: 10rem 0;
}

.section-05 .title {
  padding: 0 8rem;
}

.section-05 .title h3 {
  font-size: 7rem;
  text-transform: uppercase;
  color: var(--white-color);
}

.section-05 .img-projeto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-05 .img-projeto img {
  object-fit: cover;
  border-radius: 2rem;
  aspect-ratio: 16/9;
}

.section-05 .infos-div {
  justify-content: end;
  display: flex;
  flex-direction: column;
}

.section-05 .infos ul li {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5px;
}

.section-05 .infos ul li img {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--white-color);
  border-radius: 5rem;
}

.section-05 .module-contact {
  width: 100%;
  padding-left: 2.5rem;
}

.section-05 .module-contact .btn--secondary {
  width: 40rem;
  font-size: 1.8rem;
}

/* SECTION 06 */
.section-06 {
  background: url('../img/textura-preta.png') var(--color-verde-escuro);
  padding: 10rem 0;
}

.section-06 .title {
  display: flex;
  justify-content: center;
}

.section-06 .title h3 {
  font-size: 6rem;
  color: var(--white-color);
  text-transform: uppercase;
}

.section-06 .noticias {
  display: flex;
  justify-content: center;
}

.section-06 .noticias .card {
  width: 40rem;
  border: 5px solid var(--color-dourado);
  border-radius: 1rem;
  margin-top: 2rem;
}

.section-06 .noticias .card img {
  padding: 1rem;
  border-radius: 2rem;
}

.section-06 .noticias .card-body {
  padding: 2rem;
}

.section-06 .noticias .card-text {
  font: var(--secondary-font);
  color: var(--color-verde-claro);
  font-size: 2.3rem;
  font-weight: 500;
}

.section-06 .noticias .card-button {
  padding: 2rem;
  text-align: center;
  font: var(--secondary-font);
  color: var(--color-verde-claro);
  text-transform: uppercase;
  font-weight: 500;
}

.section-06 .noticias .card-button a {
  border: 2px solid var(--color-verde-claro);
  padding: 5px;
  border-radius: 5px;
}

.section-06 .module-contact {
  justify-content: center;
  margin-top: 4rem;
}

.section-06 .module-contact .btn--secondary {
  width: 35rem;
  font-size: 2rem;
}

.section-06 .btn--secondary::before {
  background-color: var(--color-vermelho);
}
 

footer { 
  background: url('../img/textura-preta.png') var(--color-vermelho);
  padding: 10rem 0 7rem;
  align-items: center;
}

footer .footer-logo {
  align-items: center;
  display: flex;
}

footer .footer-logo img {
  width: 30rem;
}

footer h4 {
  color: var(--white-color);
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
}

footer p {
  color: var(--white-color);
  font-size: 1.5rem;
  text-transform: uppercase;
}

footer .fale-conosco {
  justify-items: center;
  padding: 0 0 0 3rem;
}

footer .info-instagram {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

footer .info-instagram i {
  vertical-align: bottom;
  font-size: 3rem;
}

footer .info-instagram i:hover {
  transform: none !important;
  transition: none !important;
  font-size: 3rem !important;
}

footer .info-instagram p {
  letter-spacing: 3px;
  font-size: 2rem;
}

footer .footer-trofeu {
  padding-left: 3rem;
}

.footer-dev {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--white-color);
  background: var(--color-vermelho);
  padding: 1rem;
}

.footer-dev a {
  text-decoration: none;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
}

.footer-dev p {
  margin-bottom: 0;
}


@media only screen and (max-width: 488px) {
  /* HEADER */
  nav {
      padding: 0;
  }

  nav .nav-logo {
    margin-left: 2rem;
  }

  nav .nav-list, nav .nav-social { 
      display: none;
  }

  .mobile-icon-menu {
      display: block;
  }

  .mobile-icon-menu {
      display: block;
      border: 0;
      margin: auto 10px;
  }

  .mobile-icon-menu .icon-menu button {
      border: 0;
      background: transparent;
  }

  .mobile-menu {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;

      height: 100vh;
  
      z-index: -1;
      opacity: 0;
      
      background-color: var(--color-azul_claro);
      font-size: 2rem;
  }
  
  .mobile-icon-menu button {
      background: transparent;
      border: none;
      cursor: pointer;
  }
  
  .icon-menu-close {
      text-align: right;
      padding-top: 17px;
      padding-right: 0px;
  }
  
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1.2rem;
      padding-left: 0;
      margin-top: 20px;
  }
  
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  
  .fecha-menu {
      display: none;
  
      width: 100%;
      height: 100%;
  
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      right: 0;
  
      z-index: 109;
  }
  
  .open {
      opacity: 1;
      display: block;
      z-index: 110;
      background: var(--grey-color);
      color: #FFFFFF;
      height: 100%;
      min-width: 50%;
      transition-property: opacity;
      transition-duration: 0.45s;
      transition-timing-function: ease-out;
  }
  
  .close {
      display: block;
  }

  /* SECTION 01 */
  .section-01 {
    background-size: cover;
  }

  .section-01 .row {
    gap: 5rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .section-01 .ghost-div {
    display: none !important;
  }

  .section-01 .left-text {
    padding: 0 2rem;
    text-align: center;
  }

  .section-01 .left-text .franqueado h1 {
    font-size: 4rem;
  }

  .section-01 .module-contact {
    justify-content: center;
  }

  .section-01 .right-form {
    padding: 0 2rem;
  }

  .section-01 .right-form form .estado {
    width: 25%;
  }

  /* SECTION 02 */
  .section-02 {
    padding: 7rem 0;
  }

  .section-02 .desktop {
    display: none;
  }

  .section-02 .mobile {
    display: flex;
  }

  .section-02 .title-h3 {
    text-align: center;
  }

  .section-02 .title-h3 h3 {
    font-weight: 600;
  }

  .section-02 .row {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .section-02 .module-contact {
    justify-content: center;
    margin-top: 2rem;
  }

  .section-02 .module-contact .btn--secondary{
    width: 80%;
  }

  .section-02 .info-01, 
  .section-02 .info-02, 
  .section-02 .info-03, 
  .section-02 .info-04 {
    padding: 0 2rem;
  }

  /* SECTION 03 */
  .section-03 {
    padding: 5rem 0;
  }

  .section-03 .title h2 {
    font-size: 3.3rem;
    padding: 0 2rem;
}

  .section-03 .video {
    padding: 0 2rem;
    justify-content: center;
    display: flex;
  }

  .section-03 .video .iframe-video {
    width: 38rem;
    height: 21rem;
  }

  .section-03 .selo-circular {
    display: none;
  }

  /* SECTION 04 */
  .section-04 {
    padding: 7rem 0rem;
  }

  .section-04 .pizzas {
    padding: 0 5rem;
  }

  /* SECTION 05 */
  .section-05 {
    padding: 7rem 0;
  }

  .section-05 .title {
    padding: 0 2rem;
  }

  .section-05 .title h3 {
    font-size: 5rem;
    text-align: center;
  }

  .section-05 .img-projeto {
    padding: 0 1rem;
  }

  .section-05 .infos-div {
    margin-top: 2rem;
  }

  .section-05 .infos ul li img {
    width: 25px;
    height: 25px;
  }

  .section-05 .infos ul li {
    font-size: 1.5rem;
  }

  .section-05 .module-contact {
    padding: 0;
    justify-content: center;
    margin-top: 3rem;
  }

  .section-05 .module-contact .btn--secondary {
    width: 80%;
  }

  /* SECTION 06 */
  .section-06 {
    padding: 7rem 0;
  }

  .section-06 .title h3 {
    font-size: 5rem;
    text-align: center;
  }

  .section-06 .noticias .card {
    width: 35rem;
  }

  /* FOOTER */
  footer {
    padding: 7rem 0;
  }

  footer .row .div-infos {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  footer .footer-logo {
    justify-content: center;
    margin-bottom: 2rem;
  }

  footer .fale-conosco {
    padding: 0;
  }
}