* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color:#083661;
    --secondary-color: #787878;
    --third-color: #242424;
    --fourth-color: #0084C6;
    --white-color:#FFFFFF;
    --base-color: #FBFBFB;

    /* --primary-font: 'Roboto', sans-serif; */
    --primary-font: 'Exo 2', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

html,
body {
    font-family: var(--primary-font);    
    font-size: 1.6rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

p, a, span {
    font-family: var(--secondary-font);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: unset;
}

ul li {
    list-style: none;
}

.container {
    margin: 0;
    padding: 0;
}


/* HEADER */
header {
    display: block;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.1rem 5rem;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    background: var(--white-color);
}

.nav-logo {
    margin-left: 5rem;
}

.nav-logo img {
    object-fit: contain;
    width: 18rem;
    height: 7rem;
}

.nav-logo img:hover {
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}

.nav-list {
    margin: 15px auto 0;
}

nav ul {
    display: flex;
    gap: 5rem;
}

nav ul li a {
    font-weight: 600;
    color: var(--primary-color);
}

.nav-list ul li:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.nav-list ul li a:hover { 
    color: var(--secondary-color);
    transition: 0.2s ease;
}

.nav-social {
    margin-top: 5px;
    margin-right: 100px;
}

.nav-social span {
    display: flex;
    gap: 1.4rem;
}

.fab {
    color: var(--primary-color);
    font-size: 24px;
}

.fab:hover {
    color: var(--secondary-color);
    transition: 0.3s ease-out;
    transform: rotate(-15deg) scale(1.2);
    font-size: 2.4rem;
}

.mobile-menu, .mobile-icon-menu {
    display: none;
}

/* SECTION 01 */

.section-01 {
    background-image: url('../img/mundial-zinco-site/banner-h1.png');
    background-repeat: no-repeat;
    background-position: center 10rem;
    margin-top: -2.5rem;
}

.banner-h1 {
    padding: 26rem 10rem 22rem;
    color: var(--white-color);
    max-width: 99rem;
}

.sub-title h4 {
    font-weight: 600;
    line-height: 3rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: var(--white-color);
}

.banner-h1 h1 {
    font-size: 6rem;
    font-weight: 800;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.banner-h1 h1 span {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--white-color);
}

.banner-h1 p {
    line-height: 2.8rem;
    margin-bottom: 3rem;
}

.btn-contact {
    padding: 10px 20px;
    border: 1px solid var(--white-color);
    border-radius: 10px;
}

.btn-contact:hover{
    background: var(--primary-color);
    transition: 0.4s ease;
}

.fa-brush {
    font-size: 25px;
}

/* SECTION 02 */

.section-02 {
    position: relative;
    padding: 5rem 0;
}

.auto-container {
    max-width: 129rem;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.about-section {
    margin: 0 1.2rem;
}

.about-left {
    position: relative;
}

.inner_box {
    position: relative;
    display: block;
}

.inner_box .image_box {
    position: relative;
    display: block;
    overflow: hidden;
}

figure {
    margin: 0px;
}

.inner_box .image_box img {
    width: 100%;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.about-image-block-two {
    padding-left: 2rem;
}

.about-image-block:nth-child(2) {
    padding-top: 2rem;
}

.sub-title h5 {
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.title-first {
    display: none;
}

.main-title h2 {
    padding: 2rem 0 3rem;
    font-weight: 800;
    font-size: 5rem;
    line-height: 5.5rem;
    margin-bottom: 0;
}

.about-right .normal-text {
    padding-bottom: 3.4rem;
}

.normal-text p {
    position: relative;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    line-height: 2.9rem;
    color: var(--secondary-color);
    transition: all .5s ease;
    margin-bottom: 0;
}

.about-right .btn-section {
    padding-top: 1.3rem;
    display: inline-block;
}

.btn-one {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 600;
    line-height: 1.9px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.mobile-imagem {
    display: none !important;
}

/* SECTION 03 */

.section-03 {
    padding: 5rem 0 10rem;
}

.section-03 .inner_content {
    text-align: center;
    padding: 0 3.5rem;
}

.section-03 .inner_content .icon-box {
    display: flex;
    justify-content: center;
}

.section-03 .icon-bg span {
    font-size: 5rem;
    position: relative;
    color: var(--primary-color);
    transition: all .5s ease;
}

.section-03 .service-text h3 {
    padding: 3rem 0 2rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.service-text p {
    position: relative;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    line-height: 2.9rem;
    color: var(--secondary-color);
    transition: all .5s ease;
    text-align: justify;
}

/* SECTION 04 */

.service-content {
    background-color: var(--third-color);
    position: relative;
    padding: 10rem 0 15rem;
}

.anim-icon .icon {
    position: absolute;
    background-repeat: no-repeat;
}

.service-content .icon-1 {
    width: 44rem;
    height: 42rem;
    left: -10rem;
    bottom: 0;
}

.service-content .icon-2 {
    width: 50rem;
    height: 35rem;
    right: -10rem;
    bottom: 0;
}

.section-04 .title {
    text-align: center;
}

.section-04 .sub-title h5 {
    color: var(--fourth-color);
}

.section-04 .title h2 {
    color: var(--white-color);
}

.tab-box-btn {
    position: relative;
}

.service-tab-section .tabs-content .row .pe-xl-4 {
    padding-right: 3rem !important;
}

.service-tab-section .tabs-content .row .ps-xl-4 {
    padding-right: 3rem !important;
}

.service-tab-section ul.tab-btns {
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
}

.service-tab-section ul.tab-btns li {
    position: relative;
    padding: 1.7rem 4.8rem;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
    border: 1px solid rgba(255, 255, 255, 0.07);
    cursor: pointer;
    border-right: 0;
    text-align: center;
}

.service-tab-section ul.tab-btns li:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.07);
}

.service-tab-section ul.tab-btns li span {
    color: var(--white-color);
    z-index: 1;
    position: relative;
}

.active-btn {
    background: var(--primary-color);
    color: var(--white-color);
}

.tab-right-content h3 {
    color: var(--white-color);
    font-weight: 700;
    font-size: 2.4rem;
    font-style: normal;
    line-height: 2.6rem;
}

.tab-right-content p {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.9rem;
    margin-bottom: 0;
    padding: 3rem 0;
    color: var(--white-color);
}

.tab-right-content .tab-list {
    padding-bottom: 3.5rem;
}

.tab-right-content .tab-list ul {
    padding: 0;
}

.tab-right-content .tab-list li {
    display: flex;
    align-items: center;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    color: var(--white-color);
}

.tab-right-content .tab-list li i{ 
    margin-right: 1rem;
    color: var(--fourth-color);
}

.tab-btn {
    display: inline-block;
    transition: all 500ms ease;
}

.active-tab {
    animation: zoom-in 500ms ease;
}

@keyframes zoom-in {
    0% {
      scale: 70%;
    }
    100% {
      scale: 100%;
    }
}

.btn-one {
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    font-family: var(--secondary-font);
    font-weight: 600;
    line-height: 1.9rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.btn-one span {
    color: var(--white-color);
    display: block;
    position: relative;
    text-transform: uppercase;
}

/* SECTION 05 */
.section-05 {
    padding: 10rem;
}

.section-05 .sub-title h5 {
    text-align: center;
    margin-bottom: 3rem;
}

.lab-content, .polythic-content {
    margin: 0 auto;
}

.lab-content {
    margin-bottom: 5rem;
}

.section-05 .lab-content .normal-text i,
.section-05 .polythic-content .normal-text i {
    transform: rotate(90deg);
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 5px;
    color: var(--primary-color);
}

/* SECTION 06 */

.section-06 {
    background-image: url('../img/mundial-zinco-site/banner-h2-ambiental.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
}

.ambiental-container {
    padding: 1rem 1rem 5rem;
    margin-left: 10rem;
    background-color: rgba(36, 36, 36, 0.85);
    border-radius: 5px;
}

.ambiental-container .main-title,
.ambiental-container .normal-text {
    margin-left: 1rem;
}

.ambiental-container .main-title h2 {
    color: var(--white-color);
}

.ambiental-container .normal-text p {
    color: var(--white-color);
    font-size: 1.8rem;
}

/* SECTION 07 */
.section-07 {
    padding: 10rem 0;
    position: relative;
}

.contact-area .normal-text p {
    padding-bottom: 3rem;
}

.contact-content .contact-info-block {
    position: relative;
    padding-bottom: 2.5rem;
    padding-left: 10rem;
}

.contact-content .contact-info .left-side-info{
    background: var(--primary-color);
    width: 7rem;
    height: 7rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}

.contact-content .contact-info .left-side-info span {
    position: relative;
    font-size: 3.4rem;
    color: var(--white-color);
}

.contact-content .contact-info .right-side-info h4 {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 2.6rem;
}

.contact-content .contact-info .right-side-info p {
    color: var(--secondary-color);
}

.contact-info .contact-info-block .right-side-info p a {
    color: var(--primary-color);
    font-style: italic;
    font-weight: 600;
    
}

.contact-info .contact-info-block .right-side-info p .contact-email,
.contact-info .contact-info-block .right-side-info p .contact-whats {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: normal;
}

.img-text {
    display: flex;
    align-items: end;
}

/* SECTION 08 - Blog */
.blog-area {
    background-color: #f6f6f6;
    padding: 10rem;
}

.blog-area h5 {
    color: var(--primary-color);
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    
}

.blog-area .title .main-title h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.blog-area h3 {
    font-size: 48px;
    color: var(--secondary-color);
    margin-top: 30px;
    padding: 0 100px 50px;
}

.home-blog-active .slick-dots {
    text-align: center;
    margin-top: 30px;
}

.home-blog-active .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.home-blog-active .slick-dots li button {
    text-indent: -99999px;
    border: none;
    padding: 0;
    margin-left: 10px;
    border-radius: 50px;
    z-index: 1;
    cursor: pointer;
    background: no-repeat;
    transition: .3s;
}

.home-blog-active .slick-dots li.slick-active button::before {
    opacity: 1;
}

.home-blog-active .slick-dots li button::before {
    content: "";
    width: 19px;
    height: 19px;
    float: left;
    position: relative;
    margin-top: -9px;
    left: -19px;
    border-radius: 50%;
    opacity: .7;
    background-repeat: no-repeat;
    background-position: center;
}

.home-blog-active .slick-arrow,
.home-blog-active2 .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -154px;
    border: none;
    background: none;
    padding: 0;
    color: #f6fbff;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #fff;
    background: #222629;
    font-size: 24px;
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}


.home-blog-active .slick-arrow.slick-next,
.home-blog-active2 .slick-arrow.slick-next {
    right: -154px;
    left: auto;
}

.home-blog-active .slick-arrow:hover,
.home-blog-active2 .slick-arrow:hover {
    background: var(--primary-color);
    color: #fff;
}

.home-blog-active2 .slick-dots {
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.home-blog-active2 .slick-dots li button {
    text-indent: -99999px;
    border: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    cursor: pointer;
    transition: .3s;
    background-color: #ababab;
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.home-blog-active2 .slick-dots .slick-active button {
    border-radius: 5px;
    background-color: #bc986b;
}

.home-blog-active2 .slick-dots li {
    display: inline-block;
    margin: 0 0px;
}

.blog-thumb img {
    width: 100%;
}

.blog-thumb .b-meta {
    padding: 30px 25px 0;
    color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.blog-thumb img {
    visibility: hidden;
}

.blog-thumb:hover img {
    visibility: visible;
}

.blog-content {
    background: #fff;
    padding: 40px 30px;
    position: relative;
    z-index: 1;
}

.single-post .blog-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    padding-bottom: 30px;
}

.blog-content h4 {
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.blog-content h4:hover a {
    color: var(--primary-color);
}

.blog-thumb:hover::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color) 0% 0% no-repeat padding-box;
    opacity: 0.8;
    display: inline-block;
}

.blog-thumb2 {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.blog-thumb2 img {
    width: auto;
    max-width: inherit !important;
    height: 300px !important;
    
}

.blog-thumb2 .b-meta {
    padding: 30px 25px 0;
    color: var(--primary-color);
    top: 0;
    left: 0;
    z-index: 1;
}

.blog-content2 {
    background: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.blog-content2 .date-home {
    position: absolute;
    top: -20px;
    background: var(--third-color);
    color: #fff;
    padding: 5px 15px;
    right: 30px;
    box-shadow: 1px 1.732px 30px 0px rgba(65, 105, 191, 0.6);
}

.blog-area .single-post2 {
    box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.09);
    overflow: hidden;
}

.blog-content2 .b-meta {
    margin-bottom: 15px;
    font-size: 14px;
}

.blog-content2 .b-meta ul {
    padding-left: 0 !important;
}

.blog-content2 h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.blog-content2 h4 a {
    text-decoration: none;
    line-height: 30px;
}

.adim-box {
    display: flex;
}

.adim-box .text {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 14px;
    color: var(--secondary-color);
}

.blog-thumb:hover .b-meta h4,
.blog-thumb:hover .b-meta h4 a:hover {
    color: #fff;
}

.b-meta ul li {
    display: inline-block;
    margin-right: 8px;
    border-right: 2px solid #f5f5f5;
    padding-right: 8px;
}

.b-meta ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border: none;
}

.b-meta ul li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #444d69;
}

.b-meta ul li a.corpo {
    color: var(--primary-color);
}

.b-meta ul li a:hover {
    color: var(--primary-color);
}


.single-post:hover .blog-btn {
    opacity: 1;
}

.blog-btn a {
    display: inline-block;
    color: var(--primary-color);
    text-align: center;
    font-size: 14px;
    border-bottom: 3px solid var(--primary-color);
}

.blog-btn a:hover {
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
}

.blog-btn2 a {
    display: inline-block;
    color: #C0C0C0;
    text-align: center;
    font-size: 14px;
}

.blog-btn a i {
    margin-left: 5px;
}

.b-meta i {
    margin-right: 5px;
    color: var(--primary-color);
}

.single-post {
    transition: .3s;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 15px #00000026;
}

.blog-thumb {
    position: relative;
}

.bsingle__post-thumb img {
    width: 100%;
    height: auto;
}

.bsingle__post .video-p {
    position: relative;
}

.bsingle__post .video-p .video-i {
    height: 80px;
    width: 80px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
}

.blog-active .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    border: none;
    background: none;
    padding: 0;
    font-size: 30px;
    color: #fff;
    z-index: 9;
    opacity: .4;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}

.blog-active .slick-arrow.slick-next {
    right: 40px;
    left: auto;
}

.blog-active .slick-arrow:hover {
    opacity: 1;
}

.bsingle__content {
    padding: 40px 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(243, 243, 243);
    position: relative;
}

.bsingle__content .admin {
    position: absolute;
    top: -35px;
    background: #fff;
    background-color: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 10px;
    right: 20px;
    border-radius: 0;
    background-color: rgb(182, 140, 90);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    font-weight: 500;
    color: #fff;
}

.bsingle__content .admin i {
    margin-right: 10px;
    font-size: 18px;
}

.blog-details-wrap .meta-info ul {
    padding-top: 25px;
    border-top: 2px solid #f5f5f5;
    padding-bottom: 25px;
}

.blog-details-wrap .meta-info ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    font-weight: 500;
    padding-right: 15px;
    border-right: 2px solid #f5f5f5;
}

.blog-details-wrap .meta-info ul li i {
    color: var(--primary-color);
    margin-right: 5px;
}

.blog-details-wrap .meta-info ul li:last-child {
    border: none;
}

.bsingle__content .meta-info ul {
    padding-bottom: 0;
    border-bottom: none;
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
}

.blog-deatails-box02 .meta-info ul {
    padding-left: 0;
}

.bsingle__content .meta-info ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 500;
    padding-right: 10px;
    border-right: 2px solid #f5f5f5;
}

.bsingle__content .meta-info ul li:last-child {
    border: none;
}

.bsingle__content .meta-info ul li a {
    color: #3763eb;
    text-transform: capitalize;
}

.bsingle__content .meta-info ul li a i {
    margin-right: 5px;
}

.bsingle__content .meta-info ul li a:hover {
    color: var(--primary-color);
}

.bsingle__content .meta-info ul li i {
    margin-right: 10px;
    color: #fff;
    background: var(--primary-color);
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    float: left;
    border-radius: 50%;
    padding-right: 0;
}

.bsingle__content h2 {
    font-size: 30px;
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 500;
}

.bsingle__content h2:hover a {
    color: var(--primary-color);
}

.bsingle__content p {
    margin-bottom: 25px;
}

.bsingle__content .blog__btn .btn {
    background: transparent;
    border: 2px solid var(--primary-color);
    font-size: 16px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.bsingle__content .blog__btn .btn::before {
    content: none;
}

.bsingle__content .blog__btn .btn:hover {
    background: var(--primary-color);
    color: #fff;
}

/* GOOGLE MAPS */

.google-maps {
    display: block;
    width: 100%;
    height: 300px;
    border: 0;
}

/* FOOTER */

footer {
    background: var(--third-color);
    color: var(--white-color);
    padding: 50px 200px 75px;
}

footer h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
    color: var(--white-color);
}

.infos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer-logo img {
    width: 280px;
    height: 100px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-social i {
    color: var(--white-color);
}

.footer-dev {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--white-color);
    background: var(--third-color);
    padding: 1rem;
}

.footer-dev a {
    text-decoration: none;
    cursor: pointer;
    color: var(--white-color);
    font-weight: bold;
}

.footer-dev p {
    margin-bottom: 0;
}

.fa-fab {
    color: white !important;
    text-align: center;
    vertical-align: bottom;
}

.whatsapp-link-footer {
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
}

/* Whatsapp */
.whats {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 185;
}

.whats:hover{
    transform: scale(1.3);
    transition: 0.4s ease-in-out;
}

/* BOTÃO */
.button-style {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
  
    display: inline-block;
    position: relative;
    text-align: center;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 5px;
  
    line-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
  
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.2s ease-in;
}

.button-style:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5); /* substituindo transparentize */
    background-color: #00c7ec !important;
    border: 1px solid var(--white-color) !important;
    transition: all 0.2s ease-out;    
}

.button-style:hover:before {
    animation: shine 0.5s 0s linear;
}

.button-style:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
}

.button-style:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
}

@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

.section-02 .btn-section .btn-box .button-style,
.section-04 .tab-right-content .btn-box .button-style {
    background-color: var(--primary-color);
    font-weight: 600;
    border: 2px solid var(--primary-color);
}

.section-04 .tab-right-content .btn-box {
    text-align: center;
}

@media only screen and (max-width: 487px) {
    /* HEADER */
    nav {
        padding: 0.1rem 1rem;
    }
    .nav-logo {
        margin-left: 0;
    }
    .nav-list, .nav-social {
        display: none;
    }
    .mobile-icon-menu {
        display: block;
        border: 0;
        margin: auto 10px;
    }
    .mobile-icon-menu .icon-menu button {
        border: 0;
        background: var(--white-color);
    }
    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;

        height: 100vh;
    
        z-index: -1;
        opacity: 0;
        
        background-color: var(--color-azul_claro);
        font-size: 2rem;
    
    }
    
    .mobile-icon-menu button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
    
    .icon-menu-close {
        text-align: right;
        padding-top: 18px;
        padding-right: 10px;
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
        padding-left: 0;
        margin-top: 20px;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .fecha-menu {
        display: none;
    
        width: 100%;
        height: 100%;
    
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        right: 0;
    
        z-index: 109;
    }
    
    .open {
        opacity: 1;
        display: block;
        z-index: 110;
        background: var(--primary-color);
        color: #FFFFFF;
        height: 100%;
        min-width: 50%;
        transition-property: opacity;
        transition-duration: 0.45s;
        transition-timing-function: ease-out;
    }
    
    .close {
        display: block;
    }

    body {
        font-size: 1.4rem;
    }

    /* SECTION 01 */
    .section-01 {
        background-position: -65rem 10rem;
    }
    .banner-h1 {
        padding: 20rem 0 15rem;
        text-align: center;
        align-content: center;
    }

    .banner-h1 h4 {
        font-size: 1.5rem;
    }

    .banner-h1 h1 {
        font-size: 4rem;
    }

    .banner-h1 p {
        font-size: 1.6rem;
        text-align: justify;
        padding: 1rem 4rem;
    }

    /* SECTION 02 */
    .section-02 {
        padding: 0 1rem 5rem;
    }

    .about-left .row {
        flex-direction: column;
    }

    .about-image-block-one,
    .about-image-block-two {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        flex-direction: row;
        display: flex;
        gap: 1rem;
        margin: 1rem auto 0;
    }

    .about-image-block-one {
        display: flex;
    }

    .about-image-block:nth-child(2) {
        padding-top: 0;
    }

    .about-right {
        padding-top: 3rem;
    }

    .title-first {
        display: block;
        text-align: center;
        margin-top: 5rem;
    }

    .main-title h2 {
        font-size: 3.7rem;
        text-align: center;
    }

    .about-right .title {
        display: none;
    }

    .about-right .btn-section {
        display: flex;
        justify-content: center;
    }

    .desktop-imagem {
        display: none !important;
    }

    .mobile-imagem {
        display: block !important;
        position: relative;
    }

    /* SECTOION 03 */
    .section-03 .icon-bg span {
        font-size: 4rem;
    }

    .section-03 .service-text p {
        margin-bottom: 5rem;
    }

    .section-03 .service-text h3 {
        padding: 1.5rem 0 2rem;
    }

    /* SECTION 04 */
    .service-content {
        padding: 10rem 1rem;
    }

    .service-tab-section ul.tab-btns {
        flex-direction: column;
        padding-left: 0;
    }

    .service-tab-section ul.tab-btns li {
        border-right: 1px solid rgba(255, 255, 255, 0.07);
        font-size: 1.6rem;
    }

    .section-04 .main-title h2 {
        font-size: 3.7rem;
    }

    .service-tab-section .tabs-content .row .pe-xl-4 {
        padding-right: 0 !important;
    }

    .service-tab-section .tabs-content .row .ps-xl-4 {
        padding-right: 0 !important;
    }

    .tab-left-content {
        padding: 0 1rem;
    }

    .tab-left-content figure img {
        border-radius: 5px;
    }

    .tab-right-content {
        padding: 4rem 1rem 0;
    }

    .tab-right-content h3 {
        text-align: center;
    }

    .tab-right-content p {
        text-align: center;
    }

    .tab-right-content .tab-btn {
        display: flex;
        justify-content: center;
    }

    .tab-right-content .tab-list {
        display: flex;
        justify-content: center;
    }

    .service-content .icon-1 {
        opacity: 0.2;
        top: 25rem;
    }
    .service-content .icon-2 {
        opacity: 0.3;
    }

    /* SECTION 05 */
    .section-05 {
        display: none !important;
    }

    /* SECTION 06 */
    .section-06 {
        background-position: -55rem center;
    }
    
    .ambiental-container {
        padding: 1rem 2rem 5rem;
        margin: 0 2rem;
        background-color: rgba(36, 36, 36, 0.85);
    }

    .ambiental-container .main-title, .ambiental-container .normal-text {
        margin-left: 0;
    }
    
    .ambiental-container .normal-text p {
        font-size: 1.6rem;
    }

    /* SECTION 07 */
    .section-07 {
        padding: 7.5rem 0;
    }

    .section-07 .contact-area .row {
        flex-direction: column;
    }

    .contact-area .sub-title {
        text-align: center;
    }

    .first-icon {
        top: 25px !important;
    }

    /* BLOG */
    .blog-area {
        padding: 50px 25px;
    }

    .blog-area h3 {
        font-size: 36px;
        padding: 0 10px 40px;
    }

    .blog-row {
        gap: 70px;
    }


    /* FOOTER */
    footer {
        padding: 5rem 2rem 7.5rem;
    }

    footer h2 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .infos-footer {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-telefone p {
        text-align: center;
    }

    .footer-social {
        flex-direction: row;
        gap: 1rem;
    }

}

@media only screen and (min-width: 488px) and (max-width: 1200px) {
    /* HEADER */
    nav {
        padding: 0.1rem 1rem;
    }
    .nav-logo {
        margin-left: 0;
    }
    .nav-list, .nav-social {
        display: none;
    }
    .mobile-icon-menu {
        display: block;
        border: 0;
        margin: auto 10px;
    }
    .mobile-icon-menu .icon-menu button {
        border: 0;
        background: var(--white-color);
    }
    .mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;

        height: 100vh;
    
        z-index: -1;
        opacity: 0;
        
        background-color: var(--color-azul_claro);
        font-size: 2rem;
    
    }
    
    .mobile-icon-menu button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
    
    .icon-menu-close {
        text-align: right;
        padding-top: 18px;
        padding-right: 10px;
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
        padding-left: 0;
        margin-top: 20px;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    
    .fecha-menu {
        display: none;
    
        width: 100%;
        height: 100%;
    
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        right: 0;
    
        z-index: 109;
    }
    
    .open {
        opacity: 1;
        display: block;
        z-index: 110;
        background: var(--primary-color);
        color: #FFFFFF;
        height: 100%;
        min-width: 35%;
        transition-property: opacity;
        transition-duration: 0.45s;
        transition-timing-function: ease-out;
    }
    
    .close {
        display: block;
    }

    body {
        font-size: 1.4rem;
    }

    /* SECTION 01 */
    .section-01 {
        background-position: -50rem 0rem;
    }
    .banner-h1 {
        padding: 20rem 0 15rem;
        text-align: center;
        align-content: center;
        margin: 0 auto;
    }

    .banner-h1 h4 {
        font-size: 1.5rem;
    }

    .banner-h1 h1 {
        font-size: 4rem;
    }

    .banner-h1 p {
        font-size: 1.6rem;
        text-align: justify;
        padding: 1rem 4rem;
    }

    /* SECTION 02 */
    .section-02 {
        padding: 0 0 5rem;
    }

    .about-left .row {
        flex-direction: column;
    }

    .about-image-block-one,
    .about-image-block-two {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        flex-direction: row;
        display: flex;
        gap: 1rem;
        margin: 1rem auto 0;
        justify-content: center;

    }

    .about-image-block-one {
        width: 40%;
        display: flex;
    }

    .section-02 .desktop-imagem {
        display: none;
    }

    .about-image-block:nth-child(2) {
        padding-top: 0;
    }

    .about-right {
        padding-top: 3rem;
    }

    .title-first {
        display: block;
        text-align: center;
        margin-top: 5rem;
    }

    .main-title h2 {
        font-size: 3.7rem;
        text-align: center;
    }

    .about-right .title {
        display: none;
    }

    .tablet-lg-6 {
        flex: 0 0 auto;
        width: 80%;
        margin: 0 auto;
    }

    .about-right .btn-section {
        display: flex;
        justify-content: center;
    }

    .desktop-imagem {
        display: none !important;
    }

    .mobile-imagem {
        display: block !important;
        position: relative;
    }

    /* SECTOION 03 */
    .section-03 .row {
        flex-direction: column;
    }

    .section-03 .row div {
        margin: 0 auto;
    }
    
    .section-03 .icon-bg span {
        font-size: 4rem;
    }

    .section-03 .service-text p {
        margin-bottom: 5rem;
    }

    .section-03 .service-text h3 {
        padding: 1.5rem 0 2rem;
    }

    /* SECTION 04 */
    .service-content {
        padding: 10rem 0;
    }

    .service-tab-section ul.tab-btns {
        flex-direction: column;
        padding-left: 0;
    }

    .service-tab-section ul.tab-btns li {
        border-right: 1px solid rgba(255, 255, 255, 0.07);
        font-size: 1.6rem;
    }

    .section-04 .main-title h2 {
        font-size: 3.7rem;
    }

    .service-tab-section .tabs-content .row .pe-xl-4 {
        padding-right: 0 !important;
    }

    .service-tab-section .tabs-content .row .ps-xl-4 {
        padding-right: 0 !important;
    }

    .section-04 .tab .row > div {
        display: flex;
        justify-content: center;
    }

    .tab-left-content {
        padding: 0 1rem;
    }

    .tab-left-content figure img {
        border-radius: 5px;
    }

    .tab-right-content {
        padding: 4rem 1rem 0;
    }

    .tab-right-content h3 {
        text-align: center;
    }

    .tab-right-content p {
        text-align: center;
    }

    .tab-right-content .tab-btn {
        display: flex;
        justify-content: center;
    }

    .tab-right-content .tab-list {
        display: flex;
        justify-content: center;
    }

    .service-content .icon-1 {
        opacity: 0.2;
        top: 25rem;
    }
    .service-content .icon-2 {
        opacity: 0.3;
    }

    /* SECTION 05 */
    .section-05 {
        display: none !important;
    }

    /* SECTION 06 */
    .section-06 {
        background-position: center;
    }

    .col-md-6 {
        width: 60%;
    }
    
    .ambiental-container {
        padding: 1rem 2rem 5rem;
        margin: 0 5rem;
        background-color: rgba(36, 36, 36, 0.85);
    }

    .ambiental-container .main-title, .ambiental-container .normal-text {
        margin-left: 0;
    }
    
    .ambiental-container .normal-text p {
        font-size: 1.6rem;
    }

    /* SECTION 07 */
    .section-07 {
        padding: 7.5rem 0;
    }

    .section-07 .contact-area .row {
        flex-direction: column;
    }

    .contact-area .sub-title {
        text-align: center;
    }

    .contact-area .normal-text {
        text-align: center;
    }

    .contact-area .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .first-icon {
        top: 25px !important;
    }

    .section-07 .contact-area .tab-left-content {
        margin: 0 auto;
    }

    /* BLOG AREA */

    .blog-area {
        padding: 50px 25px;
    }

    .blog-area h3 {
        font-size: 36px;
        padding: 0 10px 40px;
    }

    .blog-row {
        gap: 70px;
    }

    .tablet-blog {
        width: 63%;
        margin: 0 auto;
    }


    /* FOOTER */
    footer {
        padding: 5rem 2rem 7.5rem;
    }

    footer h2 {
        font-size: 3.2rem;
        margin-bottom: 2rem;
    }

    .infos-footer {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-telefone p {
        text-align: center;
    }

    .footer-social {
        flex-direction: row;
        gap: 1rem;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .tablet-lg-6 {
        flex: 0 0 auto;
        width: 50% !important;
        margin: 0 auto;
    }
    .section-07 .contact-area .img-text {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1700px) {
    .banner-h1 {
        margin-left: 23rem;
    }

    .ambiental-container {
        margin-left: 20rem;
        padding: 5rem 10rem 10rem;
    }

    .blog-area {
        justify-content: center;
        display: flex;
    }
}


/* TESTES */
